@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@Html.ActionLink("method1", "Method1", "Home")
@Html.ActionLink("method2", "Method2", "Home")
@Html.ActionLink("method3", "Method3", "Home")
@Html.ActionLink("method4", "Method4", "Home")
@Html.ActionLink("method5", "Method5", "Home")

